@use "../fonts.scss";
@use "../colours.scss";

.dropcap {
    font-family: fonts.$dropcap, serif;
    font-size: 6em;
    float: left;
    line-height: 1;
    margin-right: 6px;
}

.text-surround {
    border: 1px solid colours.$green;
    border-radius: 0.25em;
    background: colours.$bg-dark;
}

.text-large {
    font-size: 1.4em;
}

.smallcaps {
    font-variant: small-caps;
}
