$green: #3a6342;
$green-dark: #324d37;
$green-light: #c3cfb5;
$bg: #e7e5d6;
$bg-dark: #dddbc7;
$bg-active: #e7e5d6;
$txt: #000000;
$band-txt: #f1f2e9;
$overlay: #00000030;

// note, because of the backgorund i have being darker
// these are adjusted darker than the true coours
$bgtan: #d2c8ae;

$dndred: #58180d;
$rulegold: #c9ad6a;

$brgreen: #e8e6dc;
$phbgreen: #e0e5c1;
$phbcyan: #b5ceb8;
$phbmauve: #dcccc5;
$phbtan: #e5d5ac;
$dmglavender: #e3ced3;
$dmgcoral: #f3d7c1;
$dmgslategrey: #dbe4e4;
$dmgslategray: #dbe4e4;
$dmglilac: #d7d4d6;
