@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..600;1,100..600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');


@font-face {
    font-family: JBMono;
    src: url("./font/jbmono/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: Rekharhakr;
    src: url("./font/rekharhakr_minuscule.woff") format("woff");
    /* src: url("./font/rekharhakr-minuscule.woff") format("woff2"); */
}

$draconic: 'Rekharhakr';
$body: 'Lora', 'Noto Serif SC', serif;
$heading: 'Urbanist', 'LGXW WenKai TC', serif;
