@use "./fonts.scss";

.centre {
    text-align: center;
}

.draconic {
    font-family: fonts.$draconic;
}

.twocol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
}

.threecol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;

}

@media (max-width: 800px) {
    .twocol, .threecol {
        grid-template-columns: 1fr;
    }
}

