@use "./fonts.scss";
@use "./colours.scss";

.centre {
    text-align: center;
}

.green {
    color: colours.$green;
}

.draconic {
    font-family: fonts.$draconic;

    h1, h2, h3, h4, h5, h6 {
        font-family: fonts.$draconic;
    }
}

.twocol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
}

.threecol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;

}

@media (max-width: 800px) {
    .twocol, .threecol {
        grid-template-columns: 1fr;
    }
}

