---
import "../styles/components/cbox.scss"
const { wide, centre, class: classNames = "" } = Astro.props
---
<div class={"cbox" + " " + (wide ? "w" : "") + (centre ? "centre" : "") + " " + classNames}>
    <slot />
</div>