---
import "../styles/components/cmfooter.scss"
import CBox from "./CBox.astro"
---
<footer>
    <CBox>
        <div class="twocol">
            <p class="small">
                © 2020-{new Date().getFullYear()} Yijun Hu, all rights reserved.
            </p>
            <p class="small rightalign">
                Designed by Yijun Hu
            </p>
        </div>
    </CBox>
</footer>