---
import CMFooter from "../components/CMFooter.astro";
import "../styles/global.scss"
const {frontmatter} = Astro.props;
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <title>{frontmatter.title}</title>
</head>
<body>
    <script src="../scripts/callout-decorations.js"></script>
    <slot />

    <CMFooter />
</body>
</html>
